<app-navbar></app-navbar>

<header class="py-5 bg-image-full" style="background-image: url('assets/images/mainss.png')"  id="img-main">
  <div class="text-center my-5">
      <img class="img-fluid rounded-circle mb-4 " src="assets/images/photo.jpg" alt="..." />
      <h1 class="text-dark fs-3 fw-bolder">--------------------------</h1>
      <p class="text-dark-50  mb-0">SURAJ SANJEEV PAWAR</p>
  </div>
</header>
&nbsp;&nbsp;&nbsp;&nbsp;
<!-- Page content-->
<div class="container">
  <div class="row">
      <!-- Blog entries-->
      <div class="col-lg-8">
          <!-- Featured blog post-->
          <div class="card mb-4">
              <a href="#!"><img class="card-img-top" src="assets/images/pokemon.png" alt="ansb" /></a>
              <div class="card-body">
                  <div class="small text-muted">August 31, 2021</div>
                  <h2 class="card-title">What is Node.js? And How anyone can make manually Pokemon API without using inbuilt...</h2>
                  <p class="card-text">Node.js is built against modern versions of V8. By keeping up-to-date with the latest releases of this engine, we ensure new features from the JavaScript ECMA-262 specification are brought to Node.js developers in a timely manner....</p>
                  <a class="btn btn-primary" href="https://www.linkedin.com/pulse/what-nodejs-how-anyone-can-make-manually-pokemon-api-without-pawar">Read more →</a>
              </div>
          </div>
          <!-- Nested row for non-featured blog posts-->
          <div class="row">
              <div class="col-lg-6">
                  <!-- Blog post-->
                  <div class="card mb-4">
                      <a href="#!"><img class="card-img-top" src="assets/images/github.jpg" alt="..." /></a>
                      <div class="card-body">
                          <div class="small text-muted">June 14, 2021</div>
                          <h2 class="card-title h4">Regex Software Services-Master Class on Git & GitHub</h2>
                          <p class="card-text">VCS is used to manage the project in time. It creates the history of the project, allows many people to collaborate and combine their work....

                            </p>
                          <a class="btn btn-primary" href="https://www.linkedin.com/pulse/regex-software-services-master-class-git-github-suraj-pawar">Read more →</a>
                      </div>
                  </div>
                  <!-- Blog post-->
                  <div class="card mb-4">
                      <a href="#!"><img class="card-img-top" src="assets/images/powerbi.png" alt="..." /></a>
                      <div class="card-body">
                          <div class="small text-muted">July 14, 2021</div>
                          <h2 class="card-title h4">What is Power BI ? With one Demo example...</h2>
                          <p class="card-text">In this data, there is a folder containing three subfolders. The first one is the access database of a company. So the database kind of looks like this. You have multiple tables, one for sales....</p>
                          <a class="btn btn-primary" href="https://www.linkedin.com/pulse/what-power-bi-one-demo-example-suraj-pawar">Read more →</a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6">
                  <!-- Blog post-->
                  <div class="card mb-4">
                      <a href="#!"><img class="card-img-top" src="assets/images/wordpress.png" alt="..." /></a>
                      <div class="card-body">
                          <div class="small text-muted">August 1, 2021</div>
                          <h2 class="card-title h4">What is WordPress? With somebasic information...</h2>
                          <p class="card-text">WordPress was released on May 27, 2003, by its founders, American developer Matt Mullenweg and English developer Mike Little, as a fork of b2/catalog. The software is released under the GPLv2 (or later).....</p>
                          <a class="btn btn-primary" href="https://www.linkedin.com/pulse/what-wordpress-somebasic-information-suraj-pawar">Read more →</a>
                      </div>
                  </div>
                  <!-- Blog post-->
                  <div class="card mb-4">
                      <a href="#!"><img class="card-img-top" src="assets/images/angular.png" alt="..." /></a>
                      <div class="card-body">
                          <div class="small text-muted">August 31, 2021</div>
                          <h2 class="card-title h4">What is Angular? Let's get start...</h2>
                          <p class="card-text">releases contain significant new features, some but minimal developer assistance is expected during the update .when updating to a news release, you may need to run update scripts.....</p>
                          <a class="btn btn-primary" href="#!">Read more →</a>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Pagination-->
          <nav aria-label="Pagination">
              <hr class="my-0" />
              <ul class="pagination justify-content-center my-4">
                  <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a></li>
                  <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
                  <li class="page-item"><a class="page-link" href="#!">2</a></li>
                  <li class="page-item"><a class="page-link" href="#!">3</a></li>
                  <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
                  <li class="page-item"><a class="page-link" href="#!">15</a></li>
                  <li class="page-item"><a class="page-link" href="#!">Older</a></li>
              </ul>
          </nav>
      </div>
      <!-- Side widgets-->
      <div class="col-lg-4">
          <!-- Search widget-->
          <div class="card mb-4">
              <div class="card-header">Search</div>
              <div class="card-body">
                  <div class="input-group">
                      <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                      <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                  </div>
              </div>
          </div>
          <!-- Categories widget-->
          <div class="card mb-4">
              <div class="card-header">Categories</div>
              <div class="card-body">
                  <div class="row">
                      <div class="col-sm-6">
                          <ul class="list-unstyled mb-0">
                              <li><a href="#!">Web Design</a></li>
                              <li><a href="#!">HTML</a></li>
                              <li><a href="#!">Angular 12</a></li>
                          </ul>
                      </div>
                      <div class="col-sm-6">
                          <ul class="list-unstyled mb-0">
                              <li><a href="#!">JavaScript</a></li>
                              <li><a href="#!">CSS</a></li>
                              <li><a href="#!">React JS</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Side widget-->
          <div class="card mb-4">
              <div class="card-header">Motivational Quote</div>
              <div class="card-body">“All our dreams can come true, if we have the courage to pursue them.” – Walt Disney.</div>
          </div>
      </div>
  </div>
</div>

<div class="container">

  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
